<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plum.dao.system.RoleMapper">
  <resultMap id="BaseResultMap" type="org.plum.model.system.Role">
    <id column="roleid" jdbcType="INTEGER" property="roleid" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
	<result column="admin" jdbcType="BIT" property="admin" />
  </resultMap>
  
  <sql id="Base_Column_List">
    roleid, rolename,admin
  </sql>
  <select id="selectRoles"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    order by roleid
  </select>  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where roleid = #{roleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where roleid = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.plum.model.system.Role">
    insert into sys_role (roleid, rolename, admin)
    values (#{roleid,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{admin,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.plum.model.system.Role">
    update sys_role
    set rolename = #{rolename,jdbcType=VARCHAR},
    admin = #{admin,jdbcType=BIT}
    where roleid = #{roleid,jdbcType=INTEGER}
  </update>
</mapper>