<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plum.dao.advice.AdviceCommentMapper">
  <resultMap id="BaseResultMap" type="org.plum.model.advice.AdviceComment">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="advice_id" jdbcType="INTEGER" property="adviceId" />
    <result column="crttime" jdbcType="TIMESTAMP" property="crttime" />
    <result column="crtusr" jdbcType="VARCHAR" property="crtusr" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="crtbrch" jdbcType="VARCHAR" property="crtbrch" />
    <result column="satisfy" jdbcType="VARCHAR" property="satisfy" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.plum.model.advice.AdviceComment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, advice_id, crttime, crtusr,title,crtbrch,satisfy
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <sql id="Full_Column_List">
  	 ID, advice_id, crttime, crtusr,title,content,crtbrch, b.advice_brchna as crtbrna,satisfy
  </sql>
  
  <select id="selectByAdvice" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Full_Column_List" />
    from advice_comment c left join advice_branch b on b.advice_brchno = c. crtbrch
    where c.advice_id = #{id,jdbcType=INTEGER}
    order by c.crttime desc
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Full_Column_List" />
    from advice_comment c left join advice_branch b on b.advice_brchno = c. crtbrch
    where c.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from advice_comment
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.plum.model.advice.AdviceComment">
    insert into advice_comment (ID, advice_id, crttime, 
      crtusr, title,content,crtbrch)
    values (#{id,jdbcType=INTEGER}, #{adviceId,jdbcType=INTEGER}, #{crttime,jdbcType=TIMESTAMP}, 
       #{crtusr,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR},
       #{crtbrch,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.plum.model.advice.AdviceComment" useGeneratedKeys="true" >
    update advice_comment
    set advice_id = #{adviceId,jdbcType=INTEGER},
      crttime = #{crttime,jdbcType=TIMESTAMP},
      crtusr = #{crtusr,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      crtbrch = #{crtbrch,jdbcType=VARCHAR},
      satisfy = #{satisfy,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>